@import "../../styles/variables.scss";

.appLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color-secondary);
  color: var(--text-color);
}

.headerContainer {
  grid-row: 1;
  width: 100%;
  z-index: 10; // Ensure header is above other content
  background-color: var(--background-color-primary);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.workspaceContainer {
  grid-row: 2;
  position: relative; // Changed from grid to relative positioning
  overflow: hidden;
  height: 100%;
}

.sidebarContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);
  min-width: 180px;
  max-width: 500px;
  border-right: 1px solid var(--border-color);
  background-color: var(--background-color-primary);
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr auto;
}

.sidebarContent {
  overflow-y: auto;
}

.mainContainer {
  position: absolute;
  left: var(--sidebar-width);
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: var(--background-color-secondary);
}

.sidePanelContainer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 180px;
  max-width: 500px;
  overflow: hidden;
  border-left: 1px solid var(--border-color);
  background-color: var(--background-color-primary);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display: grid;
  grid-template-columns: auto 1fr;

  &.open {
    transform: translateX(0);
  }
}

.sidePanelContent {
  overflow-y: auto;
}
